
.main {
    min-height: calc(100vh - 450px);
}

.custom_wrap {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.register {
    font-family: "Mon Amour", sans-serif;
    color: #e29c32;
    font-weight: bold;
}

.custom_font {
    color: #32415b;
    font-family: Georgia, sans-serif;
    font-weight: bold;
}

.register_alert {
    color: red;
    font-family: Georgia, sans-serif;
    /* font-weight: bold; */
}

.profile_photo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.profile_board {
    margin: 2%;
    width: 60%;
    display: flex;
    justify-content:space-between;
    align-self: center;
}
.profile_data {
    display: flex;
    justify-content:flex-end;
}

.td_left {
    width: 50%;
    background-color: #dba95e;
    text-align: center;
}

.td_right {
    width: 50%;
    background-color:aliceblue;
    text-align: center;
}

.post_main {
    width: 100%;
    min-height: calc(100vh - 390px);
    display: flex;
    justify-content: center;
}

.post_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2%;
}

.post_block h2 {
    font-family: 'mon';
    font-weight: 600;
    font-size: 26px;
    margin: 1% 0% 2%;
}

.post_block div {
    margin-left: 7%;
    width: 80%;
}


