{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
<link rel="stylesheet" href="{% static 'css/blog-style.css' %}">

<meta name="description" content="Краткое описание страницы" />
{% endblock property%}

{% block title %}
Recent post | Money Certificates
{% endblock %}

{% block content %}


{% for post in posts %}
<div class="blog">
    <div class="blog-item">
        <div class="blog-item-img">
            <img src="{{ post.photo.url }}" class="item-img" alt="">
        </div>
        <div class="blog-item-wrapper">
            <div class="blog-item-info">
                <div class="blog-item-info-wrapper clearfix">
                    <div class="blog-support">
                        <img class="blog-info-icon" src="{% static 'img/icons/user-blog.svg' %}" alt="">
                        <span>By Support</span>
                    </div>
                    <div class="blog-date">
                        <img class="blog-info-icon" src="{% static 'img/icons/calendar.svg' %}" alt="">
                        <span>{{ post.date_create }}</span>
                    </div>
                </div>
                <div class="blog-item-title">
                    <p>{{ post.headline }}</p>
                </div>

                <div class="blog-item-text">
                    <p>{{ post.subtitle }}...
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



        {% endfor %}
<br>
        {% endblock %}