{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
Recent post | Money Certificates
{% endblock %}

{% block content %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
 -->
<div class="container mt-3"></div>
<div class="row"></div>
{% for post in posts %}
<div class="card mb-3"></div>
<div class="card-header">Категория</div>
<div class="card-body">
    <h5><div class="card-title">{{ post.headline }}</div></h5>
    <div class="card-subtitle">{{ post.subtitle }}</div>
<!--     <a href="{% url 'postdetail' post.pk %}">Read more</a> -->
</div>
<div class="card-footer text muted"></div>
{{ post.date_create }}

<br>
</div>
<div></div>
</div>
{% endfor %}

{% endblock %}