{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}
{% load i18n %}
{% load embed_video_tags %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Инструкции' %} | Money Certificates
{% endblock %}

{% block content %}
<section class="manual_section" style="height: auto;!important;">
  <p class="section__title__withdrow"><span>Подробные инструкции</span></p>
  <div class="section__decor"><img src="{% static 'img/icons/decor.svg' %}" alt=""></div>
</section>
{% for post in manuals %}
<section class="second-section">
  <h2 class="section__title">{{post.title}}</h2>
  <div class="manual__text">
    <h3>{{post.description}}</h3>
  </div>
  <div class="video-block">
    {% video post.video as my_video %}
    {% video my_video '470x260' %}
    {% endvideo %}
  </div>

</section>
{% endfor %}

{% endblock %}