{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load thumbnail %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Мои сертификаты' %} | Money Certificates
{% endblock %}

{% block content %}

<section class="third-section" style="height: auto;!important;background-color: #EBE7E0!important;">
    <div class="certs-wrapper">
      <p class = "section__title__withdrow"><span>Мои сертификаты</span></p>
        <div class="section__decor"><img src="/static/img/icons/decor.svg" alt=""></div>
            {% if queryset %}
        {% trans '<p class="wrapper__text">Для отправки сертификатов скопируйте ссылку и нажмите на самолетик, выбрав социальную сеть. После того как человек получит и активирует его, статус меняется на получен, после оплаты на оплачен</p>' %}
            {% else %}
        <p class="wrapper__text">Сейчас у вас нет сертификатов, вы можете получить новый сертификат. Для этого выберите его на вкладке &emsp;&emsp;
        
        <img src = "{% static 'img/icons/s-cert.svg' %}">"Select Certificate"</p>
        <img src = "{% static 'img/404-1.gif' %}"alt = "" style="position:absolute; bottom: 78px; left: 200px; height: 30%">
        {% comment %} <img src = "{% static 'img/404.gif' %}" alt = "" style="position:absolute; bottom: 78px;"> {% endcomment %}
            {% endif %}
      </div>

        <br>

      <div class="cert-block" style="height: auto;!important;">
        {% for my_certs_list in queryset %}
        <div class="instruction-block__content content block-items" style="height: 200px">
             <div class="content__main">
                <div class="stack_imgs">
                    {% for cert in my_certs_list %}
                    <img class="stack_imgs_{{ forloop.counter }}"
                        src="{{ cert.certificate_image|thumbnail_url:'my_certs_page' }}" alt="certificate">
                    {% endfor %}
                </div>
             </div>
             <div class = "content__right" style="word-break: normal;!important;">
                 <p class = "content__right__border"></p>

                 <p class = "content__right__text">{% for cert in my_certs_list %}<a href="{% url 'certificate' number=cert.number %}" style="color: #3f85ce;!important;font-weight: bold;">№ {{ cert.number }}</a>   {% if cert.is_paid %}
                    <span style="color: black;!important;">{% trans ' - Оплачен' %}</span><br>
                    {% else %}
                    {% if cert.is_accept %}
                    <span style="color: black;!important;">{% trans ' - Подтвержден' %}</span>
                    {% else %}
                    {% if cert.is_received %}
                    <span style="color: black;!important;">{% trans ' - Отправлен' %}</span>
                    {% else %}
                    <span style="color: black;!important;">{% trans ' - Не отправлен' %}</span>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                     <br>
                     {% endfor %}</p>

             </div>
        </div>
         {% endfor %}
    </div>

    </section>

{% endblock %}