{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load thumbnail %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">

<meta name="description" content="Краткое описание страницы" />
{% endblock property%}

{% block title %}
{% trans 'Мои сертификаты' %} | Money Certificates
{% endblock %}

{% block content %}

<section class="my_certs">
    <div class="watermark_kremlin"></div>
    <div class="certs-wrapper">
        <h1 class="section__title__withdrow"><span>Мои сертификаты</span></h1>
        <div class="section__decor"><img src="/static/img/icons/decor.svg" alt=""></div>
        {% if queryset %}
        <p class="wrapper__text">Для отправки сертификатов скопируйте ссылку. После того как человек получит и
            активирует его, статус меняется на получен, после оплаты на оплачен
        </p>
        {% else %}
        <p class="wrapper__text">Сейчас у вас нет сертификатов, вы можете получить новый сертификат. Для этого выберите
            его на вкладке &emsp;&emsp;
            <img src="{% static 'img/icons/s-cert.svg' %}">"Select Certificate"
        </p>
        <img src="{% static 'img/404-1.gif' %}" alt=""
            style="position:absolute; bottom: 78px; left: 200px; height: 30%">
        {% endif %}
    </div>

    <div class="cert-block">
        {% for my_certs_list in queryset %}
        <div class="block-items">
            <div class="content__main">
                <div class="stack_imgs">
                    {% for cert in my_certs_list %}
                    <img class="stack_imgs_{{ forloop.counter }}"
                        src="{{ cert.certificate_image|thumbnail_url:'my_certs_page' }}" alt="certificate">
                    {% endfor %}
                </div>
            </div>
            <div class="content__right">
                <p class="content__right__text">
                    {% for cert in my_certs_list %}
                    <a href="{% url 'certificate' number=cert.number %}">№ {{ cert.number }}
                        {% if cert.is_paid %}
                        <span>{% trans ' - Оплачен' %}</span>
                        {% elif cert.is_received %}
                        <span>{% trans ' - Отправлен' %}</span>
                        {% else %}
                        <span>{% trans ' - Не отправлен' %}</span>
                        {% endif %}
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}