{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{{ post.headline }} | Money Certificates
{% endblock %}

{% block content %}
<div class="post_main" style="display: none!important;">
    <div class="post_block">
        <h2>{{ post.headline }}</h2> 
    </div>
    <h3>{{ post.subtitle}}</h3>
    <img src={{ post.img }} alt="">
        <div>{{ post.content|safe }}</div>
    </div>
</div>

{% endblock %}
