{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{{ post.headline }} | Money Certificates
{% endblock %}

{% block content %}
<div class="post_main">
    <div class="post_block">
        <h2>{{ post.headline }}</h2>
    </div>
    <h3>{{ post.subtitle}}</h3>
    <h2>{{post.photo}}</h2>
    <div class="video-block">
        {% video post.video as my_video %}
      </div>
    <img src="{{ post.photo }}" alt="" style="position:absolute; bottom: 12px; height: 30%">

    <div>{{ post.content|safe }}</div>
</div>
<div class="video-block" style="visibility: hidden;position: absolute;top: -9999px;!important;">
    <video>
          <source src="https://video.wixstatic.com/video/1694f8_029fe95547cf466b9e8433baa0fa7eda/1080p/mp4/file.mp4" type="video/mp4">
    </video>
    <i class="material-icons play-btn">play_circle_filled</i>
</div>


{% endblock %}