{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}



{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Личный кабинет' %} | Mocerts
{% endblock %}

{% block content %}

<div class="profile_main">
<section class="third-section" style="height: auto;!important; box-shadow: 0 4px 16px #ccc;">
    <div class="certs-wrapper">
      <p class = "section__title">My <b>Profile</b></p>
      <div class = "section__decor"><img src = "{% static 'img/icons/decor.svg' %}" alt=""></div>
    <div class="profile_block" style="background-color: #5a68b1;  padding: 0px, 20px;  height: 600px;  width: 500px; ">
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="profile_form">

                <div class="form_separate">
                    {% if user.photo %}
                    <img src="{{ user.photo.url }}" alt="ava" style="box-shadow: 0 4px 16px #ccc; width: 200px; margin-left: -100px; margin-top: 30px">
                    {% else %}
                    <img src="{% static 'img/profile.png' %}" alt="ava">
                    {% endif %}
                    <!-- <p class="browse">{{ form.photo }}</p> -->
                </div>

                <div class="form_separate">
                {{form.as_p}}
{% comment %}                     <p><span>Имя : {{ form.first_name }} </span></p>
                    <p>Фамилия: {{ form.last_name }}</p>
                    <p><span>Email:</span><span>{{ form.email }}</span></p> {% endcomment %}
                    {% comment %} <p class="not_form"><span>Баланс:</span><span class="form_span">{{ user.balance }}$</span></p><br>  {% endcomment %}

                    <button type="submit" class="main__nav--item profile_btn">Сохранить</button>

                    <a class="main__nav--item profile_btn" style="text-decoration: none;" 
                    href="{% url 'account_logout' %}">Выйти</a>
                </div>
            </div><br><br>
        </form>

    </div>
</div>
<div class="video-block" style="visibility: hidden;position: absolute;top: -9999px;!important;">
    <video>
          <source src="https://video.wixstatic.com/video/1694f8_029fe95547cf466b9e8433baa0fa7eda/1080p/mp4/file.mp4" type="video/mp4">
    </video>
    <i class="material-icons play-btn">play_circle_filled</i>
</div>
{% endblock %}


{% block script %}
<script src="https://yastatic.net/share2/share.js"></script>
{% endblock script %}