{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load thumbnail %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">

<meta name="description" content="Краткое описание страницы"/>
{% endblock property%}

{% block title %}
{% trans 'Выбрать сертификат' %} | Money Certificates
{% endblock %}


{% block content %}
<div class="watermark_kremlin"></div>
<section class="third_section">
    <div class="section__wrapper">
        <p class="section__title__withdrow">Выберите сертификат</p>
        <div class="section__decor"><img src="/static/img/icons/decor.svg" alt=""></div>
        <p class="wrapper__text-certs">Нажмите на сертификат для его получения.
            На сертификате указанна сумма, которую Вам будет необходимо перевести
            пользователю, чье имя расположено на первой строчке. Чем больше сумма перевода, тем больше Ваша дальнейшая
            прибыль. Но и сложнее будет привлечь следующих получателей сертификатов. И помните! Прежде чем брать
            сертификат, сначала, найдите пятерых надежных получателей. От этого напрямую зависит Ваша прибыль</p>
    </div>

    <div class="cert-box">

        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=1 %}">
                <img src="{% static 'img/sert-1.png' %}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=5 %}">
                <img src="{% static 'img/sert-2.png' %}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=10 %}">
                <img src="{% static 'img/sert-3.png' %}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=20 %}">
                <img src="{% static 'img/sert-4.png' %}" alt="">
            </a>
        </div>

        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=50 %}">
                <img src="{% static 'img/sert-5.png' %}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=100 %}">
                <img src="{% static 'img/sert-6.png' %}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=200 %}">
                <img src="{% static 'img/sert-7.png' %}" alt="">
            </a>
        </div>
        <div class="cert-item">
            <a href="{% url 'create_certificate' nominal=500 %}">
                <img src="{% static 'img/sert-8.png' %}" alt="">
            </a>
        </div>
    </div>

</section>

{% endblock %}