*, p, h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* scroll top */

#scrollBtn {
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.add-effect {
  transition: opacity .3s;
  opacity: 100!important;
}

.none-effect {
  transition: opacity .3s;
  opacity: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4d368b;
  line-height: 26px;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.flag {
  /* font-family: 'BabelStone Flags Dual'; */
  display: none;
}

section:first-of-type {
  height: 100vh;
}


h2::before {
  position: absolute;
  left: 50%;
  bottom: 7px;
  height: 2px;
  background: var(--accent-color);
  content: "";
  display: inline-block;
  width: 95px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: var(--accent-color);
  content: "";
  display: inline-block;
  width: 95px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 40px;
}

/* Меню */

nav {
  position: fixed;
  z-index: 100;
}

.sidebar {
  width: 250px;
  height: 200vh;
  background-color: #000;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.5s;
  transform: translateX(-250px);
}

.sidebar.open {
  transform: translateX(0);
  background-color: black;
}

.sidebar li:not(:first-of-type) {
  background-color: #212121;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #212121;
}

.sidebar li:not(:first-of-type):hover {
  background-color: var(--accent-color);
}

/* .sidebar li i {
  color: var(--accent-color);
  background-color: #161717;
  margin-right: 16px;
  padding: 8px;
  border: 1px solid black;
} */

.sidebar .icon-back {
  background-color: #2f4e4e;
  width: 42px;
  height: 60px;
  margin-right: 16px;
  border-left: 1px solid rgb(44, 44, 44);
  border-top: 1px solid rgb(44, 44, 44);
  border-bottom: 1px solid rgb(44, 44, 44);
}

.sidebar .icon {
  display: inline-block;
  margin-right: 16px;
  width: 42px;
  height: 42px;
  background-color: #2C2C2C;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
/*   -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 30px;
  -webkit-mask-position: center; */
}

.sidebar li:not(:first-of-type):hover i {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  filter: brightness(1.15);
  color: white;
}

.sidebar li a {
  color: #f3f0ea;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  height: 62px;
}

.sidebar li:not(:first-of-type):hover a {
  color: white;
}

.sidebar-mini {
  display: none
}

.menu-link {
   border-top: 1px black solid!important;
/*    shadow: 1px solid #303030; */
   border-bottom: 1px black solid!important;
}

.user {
  text-align: center;
  color: white;
  font-weight: 500;
  padding-top: 15px;
  background-color: black;
}

.logo {
  grid-area: logo;
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 13px;
}

.avatar {
  grid-area: avatar;
  width: 80px;
  height: 80px;
  margin-left: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  border: 2px solid royalblue;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.balance {
  grid-area: balance;
}

.nav-controller {
  position: absolute;
  right: -50px;
  background-color: black;
  color: white;
  top: 50px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 0;
  cursor: pointer;
  background-color: #000;
}

.sidebar li a {
  height: 60px;
}

.sidebar .icon {
  width: 60px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

@media only screen and (min-width:601px) {
  .sidebar {
    transform: translate(-188px, -77px);
  }
  .sidebar li {
    transition: 0.4s;
  }
  .sidebar .icon-back {
    width: 60px;
    height: 100%;
  }
  .sidebar li:hover .icon-back {
    background-color: var(--accent-color);
  }
  .sidebar-mini {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 250px;
    width: 0;
    transition: top 0.5s;
    transform: translateX(-250px);
  }
  .sidebar.sidebar-mini li a {
    display: block;
  }
  .sidebar-mini.down {
    top: 97px;
  }
  .crown {
    width: 62px;
    height: 100px;
    background-color: black;
    background-image: url('/static/img/corona.png');
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 11px 12px;
    transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 10.275);
  }
  .sidebar-mini.down .crown {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  }
  .sidebar .nav-controller {
    font-size: 32px;
    right: -48px;
    top: 105px;
  }
}


.stack_imgs {
    position: relative;
    margin: 7%;
    grid-area: 12 / 1 / 13 / 2;
    width: 262px;
    height: auto;
    display: grid;
    pointer-events: none;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
}

.cert_list {
    width: 40%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack_imgs_1, .stack_imgs_2, .stack_imgs_3, .stack_imgs_4, .stack_imgs_5, .stack_imgs_6, .stack_imgs_7, .stack_imgs_8, .stack_imgs_9, .stack_imgs_10 {
    position: relative;
    width: 182px;
    height: 129px;
    justify-self: start;
    align-self: start;
}

.stack_imgs_1 {
    margin: 0px 0px -49px 0;
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
}

.stack_imgs_2 {
    margin: 20px 0px -20px 0;
    left: 20px;
    grid-area: 1 / 1 / 3 / 2;
}

.stack_imgs_3 {
    margin: 40px 0px -24px 0;
    left: 40px;
    grid-area: 1 / 1 / 5 / 2;
}

.stack_imgs_4 {
    margin: 60px 0px 20px 0;
    left: 60px;
    grid-area: 1 / 1 / 9 / 2;
}

.stack_imgs_5 {
    margin: -60px 0px 24px 0;
    left: 80px;
    grid-area: 6 / 1 / 7 / 2;
}

.stack_imgs_6 {
    margin: 0px 0px -49px 0;
    left: 100px;
    grid-area: 1 / 1 / 2 / 2;
}

.stack_imgs_7 {
    margin: 20px 0px -20px 0;
    left: 120px;
    grid-area: 1 / 1 / 3 / 2;
}

.stack_imgs_8 {
    margin: 40px 0px -24px 0;
    left: 140px;
    grid-area: 1 / 1 / 5 / 2;
}

.stack_imgs_9 {
    margin: 60px 0px 20px 0;
    left: 160px;
    grid-area: 1 / 1 / 9 / 2;
}

.stack_imgs_10 {
    margin: -60px 0px 24px 0;
    left: 180px;
    grid-area: 6 / 1 / 7 / 2;
}

.mask-block {
    max-width: 248px;
    width: 100%;
    height: 100vh;
    background-color: rgb(44,44,44);
    filter: brightness(1.2);
}

.balance-block {
  max-width: 248px;
  z-index: 101;
  width: 100%;
  background-color: rgb(63,133,206);
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-family: Georgia!important;
  display: flex;
  align-items: center;
  border: 2px rgb(226, 218, 218) solid;
}

.balance-block p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.balance-block p span {
  margin-right: 20px;
  margin-left: 20px;
}

.mask-block__border {
  height: 1px;
  max-width: 250px;
  width: 100%;
  background-color: black;
}

/* Секция первая - каруселька */

.image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

#image-1, #image-2, #image-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 8s linear;
  position: absolute;
}

.text-block {
  position: absolute;
  top: 50%;
  right: 10%;
  padding: 40px;
  background-image: linear-gradient(270deg, #703087, #9f3aa4);
}

.text-block h1 {
  color: white;
  margin: 0;
  font-size: 60px;
  font-weight: 100;
}

.text-block h1:last-child {
  padding-left: 40px;
}

@media only screen and (max-width:600px) {
  .text-block {
    display: none;
  }
}

.border-block {
  width: 100%;
  height: 58px;
  background-color: #4E4E50;
}

/* Секция вторая – видео */

.second-section, .third-section, .blog-section {
  padding-top: 80px;
  text-align: center;
}


.section__title {
    font-size: 40px;
    line-height: normal;
    font-weight: 300;
    position: relative;
    padding: 0 0 7px 0;
    font-family: 'Raleway',sans-serif;
    color: #212121!important;
}

.section__title span {
    font-weight: 900;
}

.section__decor {
  margin-bottom: 35px;
}

.video-block {
  border: 12px lightgray solid;
/*   position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 40px;
  margin: 40px auto;
  margin-bottom: 80px;
  max-width: 710px;
  max-height: 400px;
}


/* Секция третья – сертификаты */

section.third {
  margin: 0 !important;
  width: 100% !important;
  background-color: #ebebeb;
  padding-bottom: 35px;
}

.certificates img {
  width: 100%;
}

.certificates {
  margin-top: 20px;
  border-image: repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px) 20 / 20px;
  width: 75%;
}

.certificate {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 24px;
}





@media only screen and (min-width:601px) {
  .certs-wrapper {
    width: 800px;
    margin: auto;
  }
  .certs-wrapper h2 {
    padding-top: 35px;
  }
  .certificates {
    display: flex;
  }
  .certificates img {
    width: 100%;
    margin: 10px, 10px;
    /*  */
    margin: 10px, 10px;


  }
  .certificate:not(:last-child) {
    margin-right: -100px;
  }
  .certificate:nth-child(odd) {
    padding-bottom: 100px;
  }
  .certificate:nth-child(2) {
    z-index: 3;
  }
  .certificate:nth-child(3) {
    z-index: 2;
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Instruction block */

.instruction-block {
  width: 100%;
  height: 172px;
  background-color: #3f85ce;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
}

.instruction-block__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.content__main__title {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin-left: 20px;
}

.content__main__title span {
  font-weight: bold;
}

.content__main {
  display: flex;
  align-items: center;
  margin-right: 70px;

}

.content__right {
  display: flex;
  align-items: center;
  color: #fff!important;
}


.content__right__border {
  width: 1px;
  background: #fff;
  opacity: .8;
  height: 35px;
  margin-right: 70px;
}

.content__right__text {
  margin-left: 15px;
  font-weight: 300;
  font-size: 22px;
}



.menu-documents a {
    color: #000000;
}

.documents-title {
    font-family: "mon";
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    width: 100%
}

.documents-wrap {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.certificate_row {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.documents-wrap .documents-item {
    width: 210px;
    height: 150px;
    margin-bottom: 50px;
}

.stack_imgs {
    position: relative;
    margin: 7%;
    grid-area: 12 / 1 / 13 / 2;
    width: 262px;
    height: auto;
    display: grid;
    pointer-events: none;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
}

.content__button-block {
  width: 310px;
  justify-content: space-between;
  margin-left: 90px;
  display: flex;
  align-items: center;
}

.button-block__button {
  /* Кнопка видеотур */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 50px;
  background-color: #d3d3d3;
  color: #212121;
  font-size: 16px;
  border-bottom: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.contacts-block__button {
  /* Кнопка написать нам в футере */
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 50px;
  background-color: #ce3f5e;
  color: #212121;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.button__span {
    /* Кнопка видеотур на главной */
  margin: 0px auto;
  background-color: rgb(236,236,236);
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__transfer {
  margin: 20px auto;
  background-color: #FFFFFF;
  color: #3f85ce;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__span {
  background-color: #5093d3;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  margin-left: 40px;
  font-weight: 700;
}

.contacts__text {
  margin-left: 22px;
  font-weight: 700;
  color: #fff;
}

.button__span-img, .contacts__span-img {
  vertical-align: middle;
}


/* Секция четвёртая – блог */

.slider-block {
  padding-top: 30px!important;
  padding-bottom: 80px!important;
}

.blog-card {
  width: 100%;
  margin-bottom: 35px;
}

.card-image {
  width: 580px;
  height: 320px;
  margin: 0 auto;
}

.card-info {
  background-color: rgb(157, 209, 216);
  z-index: 99;
  padding: 20px 30px;
  width: 520px;
  height: 270px;
  margin: auto;
  margin-top: -50px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
}

.card-info__item {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.card-info__item p {
  width: auto;
  margin-left: 7px;
  color: #303030;
}

.card-info__items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-content__title {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  line-height: normal;
  margin-bottom: 20px;
  text-align: left!important; 
}

.card-content__description {
  text-align: left!important;
}

.card-content__link {
  float: left;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3f85ce;
  margin-top: 20px;
}

.card-content__link:hover::after,.card-content__link:hover  {
  color: #722828;
}

.card-content__link:after {
  content: '→';
  margin-top: 3.5px;
  text-decoration: none;
  color: #3f85ce;
  margin-left: 3px;
}


.swiper-pagination {
  position: relative;
  bottom: 0px!important;
}

/* contacts */

.contacts-section {
  width: 100%;
  height: auto;
  background-image: url('img/contacts.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.contacts-section__content {
  padding: 80px;
  width: 63%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

.content__left__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.content__left__border {
  display: inline-block;
  width: 96px;
  height: 2px;
  background: #3f85ce;
  margin: 15px 0px 20px 0px;
}

.content__left__text {
  width: 470px;
  color: #fff;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 20px;
}

.content__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.content__item p {
  padding-left: 17px;
  color: #fff;
}

.content__contact-right {
  position: relative;
}

.place-block {
  position: absolute;
  right: 60%;
  top: 68px;
  max-width: 250px;
  width: 100%;
  background: #3f85ce;
  padding: 30px 37px;
  color: #fff;
}

.place__title {
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 16px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Футер */

footer {
  display: flex;
  align-items: center;
  background-color: #962c2c;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 25px 0px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
}
.history_row {
    border: 1px solid #2d2e2a;
    font-size: 16px;

}

.share2_mobil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ya-share2 {
    margin-bottom: 1%;
}
.paymen_history{
    text-align: center;
    width: 100%;
    min-height: 80%;
    border: 1px solid #3f85ce;
    padding: 1%;
    /* color: #e2d9cf; */
}

    .payment_id {
        display: none;
    }

button[type=submit] {
  background-color: #3f85ce;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer a {
  color: #d3d3d3;
  font-size: 14px;
  text-decoration: none;
}

.footer__content {
  width: 63%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.copyright {
  font-size: 14px;
  color: #d3d3d3;
}

.block__border {
  color: #d3d3d3;
  font-weight: 700;
  margin: 0px 20px;
  font-size: 15px;
}

/* Текстовый блок */

.wrapper__text {
  width: 800px;
  margin: 0 auto;
  color: #22263a;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}

svg.intro {
  background: linear-gradient(135deg, #aa3bb1, #582a7e);
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 50px -20px #2e0642;
  border-radius: 15px;
  width: 400px;
  height: 145px;
}

svg.intro .text {
  display: none;
}

svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}

svg.intro.go .text-stroke {
  fill: none;
  stroke: #51256f;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 0.5s ease-in-out forwards;
  animation: dash 2.5s ease-in-out forwards;
}

svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

svg.intro.go .text-stroke-2 {
  stroke: #f6bdfa;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width:600px) {
  svg.intro {
    left: 50%;
    max-width: calc(100% - 48px);
  }
}

@media (min-width: 601px) {
  .slider-block {
    margin: 0 auto;
    padding: 0px 19%;
  }
}

@media (max-width: 999px) {
  .wrapper__text {
    width: 100%;
  }
  
}

@media (max-width: 1920px) {
  body, html {
    overflow-x: hidden;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1800px) {
  .place-block {
    top: 300px;
    right: 40%;
  }
}

@media (max-width: 1601px) {
  iframe {
    width: 100%;
  }

  .content__left__text {
    margin-right: 20px;
  }
}

@media (max-width: 1301px) {
  .contacts-section__content {
    width: 100%;
    display: block;
    padding: 80px 15px 80px 15px;
  }

  .content__left__text {
    width: 100%;
  }

  iframe {
    margin-top: 20px;
  }
}

@media (max-width: 1100px) {
  .instruction-block {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content__right__border {
    display: none;
  }

  .instruction-block__content {
    display: block;
  }

  .content__main {
    justify-content: center;
    margin-right: 0px;
    padding-left: 12px;
  }

  .content__right {
    justify-content: center;
  }

  .content__right__text {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  .content__button-block {
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content__main__title {
    text-align: left!important;
    line-height: 37px!important;
  }

  .content__right__text {
    margin-left: 0px;
  }

  .footer__content {
    width: auto;
    display: block;
  }

  footer ul {
    justify-content: center;
    padding-top: 15px;
  }
}

@media (max-width: 601px) {
  #scrollBtn {
    bottom: 10px;
    right: 10px;
    padding: 0px;
  }

  #scrollBtn img {
    width: 40px;
    height: 40px;
  }

  .place-block {
    right: 21%;
    max-width: 200px;
    padding: 15px;
  }

  .video-block video {
    width: 90%;
  }

  .play-btn {
    font-size: 60px!important;
  }

  .card-info {
    width: 90%;
  }
  
  .card-info__items {
    display: block;
    margin-bottom: 10px;
  }

  .card-content__title {
    margin-bottom: 10px;
  }

  .slider-block {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .icon-span {
    margin-left: 20px;
  }

  .instruction-block__content .content__button-block {
    margin-left: 0px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {

  .card-info {
    padding: 20px;
    height: 280px;
  }

}

@media (max-width: 320px) {
  body {
    min-width: 320px;
  }
}

/* balance */

.funds {

  background-color: #5a68b1;
  padding: 0px, 20px;
  height: 280px;
  width: 500px;
  
  
  margin: auto;
}

.profile_block {
  background-color: #5a68b1;
  padding: 0px, 20px;
  height: 280px;
  width: 500px;

}