@font-face {
  src: url("../fonts/monamour.ttf");
  font-family: 'Mon Amour';
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: 'Roboto';
}

@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: 'Roboto Condensed';
}

@font-face {
  src: url("../fonts/PaytoneOne-Regular.ttf");
  font-family: 'Paytone One';
}

*, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.first {
  height: 100vh!important;
}

.show_form_filter_user {
  display: none;
}

.post_main {
  padding: 70px 60px 20% 60px;
  margin-bottom: 30px!important;
  background-color: #F0F0F0;
  border-left: 1px #d1d1d1 solid;
  border-right: 1px #d1d1d1 solid;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.post-title {
  margin-bottom: 25px;
  font-weight: 700;
  color: #303030;
}

.post-subtitle {
  margin-bottom: 35px;
  color: #303030;
}

.post-detail p {
  margin-bottom: 15px;
  color: #303030;
  font-size: 18px;
  line-height: 25px;
}

.register_social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 5%;
}

/* scroll top */

#scrollBtn {
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.add-effect {
  transition: opacity .3s;
  opacity: 100!important;
}

.none-effect {
  transition: opacity .3s;
  opacity: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  font-weight: 400;
  /* background: #dad7d2; */
  background: #dad7d2;
  
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.flag {
  /* font-family: 'BabelStone Flags Dual'; */
  display: none;
}

h2::before {
  position: absolute;
  left: 50%;
  bottom: 7px;
  height: 2px;
  background: var(--accent-color);
  content: "";
  display: inline-block;
  width: 95px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: var(--accent-color);
  content: "";
  display: inline-block;
  width: 95px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 40px;
}

.balance {
  grid-area: balance;
}

.nav-controller {
  position: absolute;
  right: -50px;
  background-color: black;
  color: white;
  top: 50px;
  /* display: none; */
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 0;
  cursor: pointer;
  background-color: #1f233e;
}

.sidebar li a {
  height: 60px;
}

.sidebar .icon {
  width: 60px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  border-bottom: 1px black solid;
}

.stack_imgs {
  position: relative;
  margin: 7%;
  grid-area: 12 / 1 / 13 / 2;
  width: 262px;
  height: auto;
  display: grid;
  pointer-events: none;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr;
  grid-template-columns: 100%;
}

.cert_list {
  width: 40%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack_imgs_1, .stack_imgs_2, .stack_imgs_3, .stack_imgs_4, .stack_imgs_5, .stack_imgs_6, .stack_imgs_7, .stack_imgs_8, .stack_imgs_9, .stack_imgs_10 {
  position: relative;
  width: 182px;
  height: 129px;
  justify-self: start;
  align-self: start;
}

.stack_imgs_1 {
  margin: 0px 0px -49px 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
}

.stack_imgs_2 {
  margin: 20px 0px -20px 0;
  left: 20px;
  grid-area: 1 / 1 / 3 / 2;
}

.stack_imgs_3 {
  margin: 40px 0px -24px 0;
  left: 40px;
  grid-area: 1 / 1 / 5 / 2;
}

.stack_imgs_4 {
  margin: 60px 0px 20px 0;
  left: 60px;
  grid-area: 1 / 1 / 9 / 2;
}

.stack_imgs_5 {
  margin: -60px 0px 24px 0;
  left: 80px;
  grid-area: 6 / 1 / 7 / 2;
}

.stack_imgs_6 {
  margin: 0px 0px -49px 0;
  left: 100px;
  grid-area: 1 / 1 / 2 / 2;
}

.stack_imgs_7 {
  margin: 20px 0px -20px 0;
  left: 120px;
  grid-area: 1 / 1 / 3 / 2;
}

.stack_imgs_8 {
  margin: 40px 0px -24px 0;
  left: 140px;
  grid-area: 1 / 1 / 5 / 2;
}

.stack_imgs_9 {
  margin: 60px 0px 20px 0;
  left: 160px;
  grid-area: 1 / 1 / 9 / 2;
}

.stack_imgs_10 {
  margin: -60px 0px 24px 0;
  left: 180px;
  grid-area: 6 / 1 / 7 / 2;
}

.balance-block {
  max-width: 248px;
  z-index: 101;
  width: 100%;
  background-color: rgb(63, 133, 206);
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-family: Georgia!important;
  display: flex;
  align-items: center;
  border: 2px rgb(226, 218, 218) solid;
}

@media screen and (max-width: 812px) {
  .balance-block {
    max-width: 125px;
    transition: all 0.5s;
  }
  .balance-block.open {
    max-width: 250px;
    transition: all 0.5s;
    border: none;
  }
}

.balance-block p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.balance-block p span {
  margin-right: 20px;
  margin-left: 20px;
}

/* Секция первая - каруселька */

.image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

#image-1, #image-2, #image-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 8s linear;
  position: absolute;
}

.text-block {
  position: absolute;
  top: 50%;
  right: 10%;
  padding: 40px;
  background-image: linear-gradient(270deg, #703087, #9f3aa4);
}

.text-block h1 {
  color: white;
  margin: 0;
  font-size: 60px;
  font-weight: 100;
}

.text-block h1:last-child {
  padding-left: 40px;
}

@media only screen and (max-width:600px) {
  .text-block {
    display: none;
  }
}

.border-block {
  width: 100%;
  height: 50px;
  background-color: #4E4E50;
}

/* Секция вторая – видео */

.second-section, .blog-section {
  padding-top: 80px;
  background: rgba(235, 231, 224, 0.9);
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  text-align: center;
}

.about_project {
  text-align: center;
  margin-top: 3%;
}

.manual_section {
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manual_section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3% 0 5%;
}
.manual__title {
  width: 70%;
}
.manual__desc {
  width: 55%;
  margin: 2% auto;
  color: #353535;
  line-height: 26px;
  font-size: 18px;
  font-weight: 550;
  text-align: center;
}
.manual__video {
  width: 45%;
  height: 45vh;
  margin-bottom: 5%;
}
.manual__video iframe {
  height: 100%;
  width: 100%;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  text-align: center;
}

.my_certs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  text-align: center;
}

.money_cert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4%;
}

.section__title {
  font-size: 40px;
  line-height: normal;
  font-weight: 300;
  position: relative;
  padding: 0 0 7px 0;
  font-family: 'Raleway', sans-serif;
  color: #212121!important;
}

.section__title span {
  color: #35322a;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 40px;
  font-weight: 900;
}

.section__decor {
  margin-bottom: 35px;
}

/* Секция третья – сертификаты */

section.third {
  margin: 0 !important;
  width: 100% !important;
  background-color: #ebebeb;
  padding-bottom: 35px;
}

.certificates {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

.certificates img {
  width: 85%;
  display: flex;
  margin: 0% 0% 3% 1%;
  align-items: center;
}

.certificate {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 24px;
}

.one-cert {
  margin-top: 0%;
  margin-bottom: 3%;
  width: 100%;
}

.one-cert_pay {
  margin: 5% 0 2%;
  width: 50%;
}

.one-cert_pay img {
  width: 100%;
}

main {
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-content: space-between; */
  overflow: hidden;
}

/* Instruction block */

.instruction-block {
  width: 100%;
  height: 150px;
  background-color: rgb(63, 133, 206)!important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.instruction-block__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 200px;
}

.cert-block {
  margin-bottom: 50px;
}

.block-items {
  max-width: 850px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}

.content__main__title {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin-left: 10px;
}

.content__main__title span {
  font-weight: bold;
}

.content__main {
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding: 10px 30px 10px 0px;
}

.content__right {
  display: flex;
}

.content__right__text {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  text-align: start;
  line-height: 1.5;
}

.content__right__text a {
  display: block;
  color: #3f85ce;
  font-weight: bold;
  text-decoration: none;
}

.content__right__text a span {
  color: #42413a;
}

.menu-documents a {
  color: #971515;
}

.documents-title {
  font-family: "mon";
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
  width: 100%
}

.certificate_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.documents-wrap .documents-item {
  width: 210px;
  height: 150px;
  margin-bottom: 50px;
}

.stack_imgs {
  position: relative;
  margin: 7%;
  grid-area: 12 / 1 / 13 / 2;
  width: 262px;
  height: auto;
  display: grid;
  pointer-events: none;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr;
  grid-template-columns: 100%;
  padding-top: 25px;
}

.content__button-block {
  display: flex;
  margin-left: 90px;
  justify-content: center;
  align-items: center;
}

.button-block__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 50px;
  background-color: #d3d3d3;
  color: #212121;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.trans__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 215px;
  height: 50px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: #3f85ce;
  color: #FFFFFF;
  margin-bottom: 4%;
}

.contacts-block__button {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 50px;
  background-color: #ce3f5e;
  color: #212121;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.contacts-block__button a {
  text-decoration: none;
}

.cert__button {
  background-color: rgb(236, 236, 236);
  height: 50px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #202020;
}

.button__span {
  background-color: rgb(236, 236, 236);
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__transfer {
  background-color: #FFFFFF;
  color: #3f85ce;
  height: 48px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #3f85ce solid
}

.contacts__span {
  background-color: #5093d3;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  margin-left: 40px;
  font-weight: 700;
}

.contacts__text {
  margin-left: 22px;
  font-weight: 700;
  color: #fff;
}

.button__span-img, .contacts__span-img {
  vertical-align: middle;
}

/* Секция четвёртая – блог */

.slider-block {
  padding-top: 30px!important;
  padding-bottom: 80px!important;
}

.blog-card {
  width: 100%;
  margin-bottom: 35px;
}

.card-image {
  width: 500px;
  height: 320px;
  margin: 0 auto;
}

.card-info {
  background-color: #3f85ce;
  z-index: 99;
  padding: 20px 30px;
  width: 460px;
  height: 270px;
  margin: auto;
  margin-top: -50px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
}

.card-info__item {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.card-info__item p {
  width: auto;
  margin-left: 7px;
  color: #303030;
}

.card-info__items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-content__title {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  line-height: normal;
  margin-bottom: 20px;
  text-align: left!important;
}

.card-content__description {
  text-align: left!important;
  color: #fcf8f8;
}

.card-content__link {
  float: left;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3f85ce;
  margin-top: 0px;
}

.card-content__link:hover::after, .card-content__link:hover {
  color: #722828;
}

.card-content__link:after {
  content: '→';
  margin-top: 3.5px;
  text-decoration: none;
  color: #3f85ce;
  margin-left: 3px;
}

.swiper-pagination {
  position: relative;
  bottom: 0px!important;
}

/* contacts */

.contacts-section {
  width: 100%;
  height: auto;
  background-image: url('/static/img/contacts.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.contacts-section__content {
  padding: 80px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

.content__left__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.content__left__border {
  display: inline-block;
  width: 96px;
  height: 2px;
  background: #3f85ce;
  margin: 15px 0px 20px 0px;
}

.content__left__text {
  width: 470px;
  color: #fff;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: justify;
}

.content__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.content__item p {
  padding-left: 17px;
  color: #fff;
}

.place-block {
  position: absolute;
  top: 85px;
  width: 220px;
  background: #3f85ce;
  padding: 30px 37px;
  color: #fff;
}

.place__title {
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 16px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Футер */

footer {
  display: flex;
  align-items: center;
  background-color: #962c2c;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 28px 0px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
}

.share2_mobil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ya-share2 {
  margin-bottom: 1%;
}

.paymen_history__table {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: #3b51c2 12px solid;
  border-radius: 2%;
}

.payment_id {
  display: none;
}

footer a {
  color: #d3d3d3;
  font-size: 14px;
  text-decoration: none;
}

.footer__content {
  width: 63%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.copyright {
  font-size: 14px;
  color: #d3d3d3;
}

.block__border {
  color: #d3d3d3;
  font-weight: 700;
  margin: 0px 20px;
  font-size: 15px;
}

/* Текстовый блок */

.wrapper__text {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  color: #414040;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.wrapper__text-certs {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  color: #333232;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.wrapper__certs-text {
  width: 85%;
  max-width: 1100px;
  margin: 1% 0 0 0;
  color: #22263a;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.main__title {
  color: #ecfcfe
}

.exit__text {
  margin: 1%;
  color: #22263a;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.reset_password {
  margin: 2%;
}

.login_register {
  margin-bottom: 2%;
}

svg.intro {
  background: linear-gradient(135deg, #aa3bb1, #582a7e);
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 50px -20px #2e0642;
  border-radius: 15px;
  width: 400px;
  height: 145px;
}

svg.intro .text {
  display: none;
}

svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}

svg.intro.go .text-stroke {
  fill: none;
  stroke: #51256f;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 0.5s ease-in-out forwards;
  animation: dash 2.5s ease-in-out forwards;
}

svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

svg.intro.go .text-stroke-2 {
  stroke: #f6bdfa;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width:600px) {
  svg.intro {
    left: 50%;
    max-width: calc(100% - 48px);
  }
}

@media (min-width: 601px) {
  .slider-block {
    margin: 0 auto;
    padding: 0px 19%;
  }
}

@media (max-width: 1920px) {
  body, html {
    overflow-x: hidden;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .instruction-block {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .content__right__border {
    display: none;
  }
  .instruction-block__content {
    display: block;
  }
  .content__main {
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 30px 0px 0px;
  }
  .content__right {
    justify-content: center;
  }
  .content__right__text {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: 19px;
  }
  .content__main__title {
    text-align: left!important;
    line-height: 37px!important;
  }
  .footer__content {
    width: auto;
    display: block;
  }
  footer ul {
    justify-content: center;
    padding-top: 15px;
  }
}

@media (max-width: 601px) {
  #scrollBtn {
    bottom: 10px;
    right: 10px;
    padding: 0px;
  }
  #scrollBtn img {
    width: 40px;
    height: 40px;
  }
  .video-block video {
    width: 90%;
  }
  .video-block {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 800px;
  }
  .play-btn {
    font-size: 60px!important;
  }
  .card-info {
    width: 90%;
  }
  .card-info__items {
    display: block;
    margin-bottom: 10px;
  }
  .card-content__title {
    margin-bottom: 10px;
  }
  .slider-block {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .cert__one-row, .cert__two-row {
    display: block!important;
  }
  .cert__one-row {
    margin-top: 20px!important;
    margin-bottom: 0px!important;
  }
  .cert-item {
    margin-right: 0px!important;
    margin-bottom: 20px!important;
  }
}

.cert-item {
  transform: scale(1);
  box-shadow: 4px 4px 16px -1px #303030;
  transition: all 0.5s, transform 0.5s;
}

.cert-item:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 54px 37px rgba(3, 184, 255, 0.2);
  transition: all 0.5s, transform 0.5s;
  z-index: 1;
}

@media (max-width: 500px) {
  .card-info {
    padding: 20px;
    height: 280px;
  }
}

@media (max-width: 320px) {
  body {
    min-width: 320px;
  }
}

/* balance */

.funds {
  background-color: #3b51c2;
  border-radius: 5px;
  padding: 0px, 20px;
  height: 280px;
  width: 50%;
  max-width: 620px;
  margin: 0;
}

.withdrawal_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-details__wrapper {
  margin: 5px 0 100px;
}

.deposit__text {
  padding: 0px;
  color: #FFFFFF;
  font-size: 18px;
}
.profile_block {
  /* background-color: #3b51c2; */
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #0aa6ee, #3b51c2);
  margin: 0 auto;
  height: 100%;
  box-shadow: 10px 10px 50px 20px rgba(0,0,0, 0.2);
  border-radius: 10px;
}

.form-control {
  font-size: 16px!important;
  padding: 12px 10px 12px 5px!important;
}

.profile_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_separate p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_separate img {
  width: 200px;
  margin-left: 0px;
  margin-top: 20px;
  box-shadow: 0 4px 16px #ccc;
}

.form_separate p {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
}

.input__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5% 0 3% 0;
}

.prof_table {
  text-align: center;
  width: 100%;
}

.prof_table tr {
  /* width: 100%; */
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dad7d2; */

}

.prof_table td {
  width: 100%;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  font-weight: 550;
  text-align: start;
  color: whitesmoke;
}

.prof_table td:nth-of-type(1) {
  width: 45%;
}

.prof_table td:nth-of-type(1) input {
  max-width: 80%;
  text-align: end;
}

.prof_table td:nth-of-type(2) {
  max-width: 60%;
}

.prof_table td:nth-of-type(2) input {
  max-width: 100%;
  text-align: start;
}

.prof_table input {
  background-color: transparent;
  border: none;
  font-size: 26px;
  font-family: 'Roboto Condensed';
  font-weight: 550;
  color: whitesmoke;
}

.input__picture {
  width: 100%;
  position: relative;
  margin: 3% 0;
  text-align: center;
}

.upload-photo {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 45px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-icon path {
  fill: white;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
  text-align: center;
}

.input__file-button {
  width: 100%;
  max-width: 200px;
  height: 45px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.custom_file_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.prof__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4% 0 6%;
}

.prof__buttons a {
  text-decoration: none;
  color: #202020;
}

.prof__buttons a button {
  color: #202020;
}

.prof_btn {
  font-size: 19px;
  font-weight: 550;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 49px;
}

.section__title__withdrow {
  font-family: 'Roboto';
  letter-spacing: -2px;
  display: block;
  margin: 11px 0 17px 0;
  font-size: 60px;
  line-height: 80px;
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -4px;
  font-weight: 500;
}

.cert__one-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.cert__two-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.cert-item a img {
  width: 100%;
  height: 104%;
}

/* Контейнер для кнопки, чтобы не прыгал контент, когда она сменит позиционирование */

.css-modal-details {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Кнопка для открытия */

.css-modal-details summary {
  display: inline-flex;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  padding: 6px 10px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #3f85ce;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.css-modal-details summary:hover, .css-modal-details summary:active, .css-modal-details summary:focus {
  color: #FFF;
}

.css-modal-details summary:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #2D6B9F;
  transition: transform 0.5s;
  transform: translateX(-100%);
  z-index: -1;
}

.css-modal-details summary:hover:before, .css-modal-details summary:active:before, .css-modal-details summary:focus:before {
  transform: translateX(0);
}

/* Кнопка при открытом окне переходит на весь экран */

.css-modal-details details[open] summary {
  cursor: default;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

/* Контейнер, который затемняет страницу */

.css-modal-details details .cmc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-modal-details details[open] .cmc {
  pointer-events: none;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 0.5s ease;
  background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно */

.css-modal-details details .cmt {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  max-height: 70%;
  transition: 0.5s;
  border: 6px solid #BFE2FF;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: auto;
}

.css-modal-details details[open] .cmt {
  animation: scale 0.5s ease;
  z-index: 4;
  pointer-events: auto;
}

/* Декоративная кнопка с крестиком */

.css-modal-details details[open] .cmc:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 6px solid #BFE2FF;
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
  background-color: #FFF;
  background-size: cover;
  animation: move 0.5s ease;
}

/* Анимации */

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    right: -80px;
  }
  100% {
    right: 20px;
  }
}

@keyframes bg {
  0% {
    background: rgba(51, 122, 183, 0);
  }
  100% {
    background: rgba(51, 122, 183, 0.7);
  }
}

.copy_url {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.video__block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0 6%;
}

.video__block_content {
  width: 750px;
  height: 500px;
  border-radius: 1.5%;
  overflow: hidden;
  box-shadow: -5px 20px 32px 3px rgba(0, 0, 0, 0.6);
}

.video__block_content iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.5%;
}

.third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.section__wrapper {
  width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.content__left {
  width: 50%;
}

.content__contact-right {
  position: relative;
  width: 50%;
}

.contacts__map {
  max-width: 100%;
  margin-left: 14%;
  margin-top: 15px;
}

.cert-box {
  width: 70%;
  display: grid;
  grid-gap: 3vw;
  margin-bottom: 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.certs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.wrapper__certs {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certs__wrapper_url {
  width: 80%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cert__section {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.certificate_url {
  margin-right: 1%;
  font-size: 20px;
  font-weight: 600;
}

.cert_url_btn {
  width: 250px;
  margin-bottom: 2%;
}

.cert_url_btn:active {
  width: 250px;
  margin-bottom: 2%;
  background-color: #9ca1a1;
  transform: scale(1.2);
  transition: all 0.3s;
}

.money_man {
  position: absolute;
  bottom: 12px;
  height: 30%;
  left: 60px;
}

.manual__text {
  width: 70%;
  margin: 0 auto;
  color: #22263a;
  line-height: 26px;
  font-size: 18px;
  font-weight: 550;
  text-align: center;
}

.manual__text p {
  font-size: 1.1em;
  text-align: justify;
}

button[type=submit], button[type=button] {
  background-color: #3f85ce;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button[type=submit]:hover, button[type=button]:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.profile_btn {
  font-size: 19px;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 49px;
}

.login__input {
  margin-top: 3%;
}

.login__input input {
  width: 200px;
  text-align: center;
  border-radius: 4px;
}

.login_social img {
  margin-bottom: 2%;
  width: 300px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.password_reset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password_reset__block {
  margin: 10%;
}

.password_reset__block p {
  margin: 1% auto;
  font-size: 20px;
}

.password_reset__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.password_reset__form label {
  display: none;
}

.password_reset__form input {
  width: 200px;
}

.reset_btn {
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f85ce;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_btn. {
  margin-top: 1%;
}

.paid_cert {
  margin: 10% 0 3%;
}

.paymen_history {
  background-color: #3b51c2;
  border-radius: 5px;
  margin: 0 0 10% 0;
  width: 50%;
  max-width: 620px;
}

.paymen_history__table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.history_title {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
}

.history_title td {
  width: 80px;
  text-align: center;
  padding: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.history_row {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EBE7E0;
}

.history_row td {
  width: 80px;
  text-align: center;
}

.balance_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 115px;
  text-align: center;
  width: 100%;
}

.wrapper__profile {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 2000ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 1000ms, stroke-dashoffset 1000ms;
  stroke: royalblue;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee h1 {
  color: #4E4E50;
  font-size: 5px;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 10s infinite linear;
  animation: marquee 10s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0)
  }
}


.watermark_castle, .watermark_temple, .watermark_kremlin{
  background-image: url('/static/img/watermark.jpg');
  background: rgba(235, 231, 224, 0.9);
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.about_project__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_project__text p {
  text-align: center;
}

.withdrawal_form__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.withdrawal_form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.withdrawal_form__block select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
  font-size: 14px;
}

.withdrawal_form__block input {
  padding: 12px 20px;
  margin: 8px 2px;
  border: 2px solid #3f85ce;
  text-align: center;
  font-size: 14px;
  width: 160px;
}
.deposit_button {
  margin: 30px 0;
}

.deposit_form select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
  text-align: center;
}

.deposit_form input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
  text-align: center;
  font-size: 14px;
}

.deposit_form select option {
  font-size: 18px;
  text-align: center;
}

.prepaid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.prepaid__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 80%;
}

.prepaid__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1%;
  font-family: 'Paytone One';
  letter-spacing: -2px;
  font-size: 60px;
  line-height: 80px;
  color: black;
  /* background-color: #3b51c2; */
  box-shadow: 10px 10px 30px rgb(0 0 0 / 30%);
  border: 1px #2b314e solid;
  border-radius: 10px;
  margin: 3% 0 10%;
}

.prepaid__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.form__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-width: 100%;
  margin: 4% 0 2%;
}

.form__title p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 250px;
}

.form__content {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 0 4%;
}

.form__content input {
  text-align: center;
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  color: #303030;
}

.form__content select {
  width: 225px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #3f85ce;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 800;
  color: #303030;
}

.form__content select option {
  font-size: 18px;
  width: 200px;
  text-align: center;
}

.alerts {
  position: absolute;
  bottom: -55px;
  left: -75px;
}

.prepaid_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.prepaid__cert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  margin-top: 1%;
}

.prepaid__cert p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 250px;
}

.prepaid_list__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.prepaid_url_btn {
  width: 150px;
}

.contact_form {
  margin-top: 3%;
  width: 100%;
}

.decor {
  position: relative;
  max-width: 600px;
  margin: 50px auto 0;
  background: #962c2c;
  border-radius: 30px;
}

.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #1f233e;
  border-radius: 20px;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #962c2c;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1f233e;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-left: 2%;
}

.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 20px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #2C2C2C;
}

.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #1f233e;
  border-bottom: 4px solid #161b3d;
  color: rgb(235, 231, 224);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.form-inner input[type="submit"]:active {
  transform: scale(1.1);
}

.form-inner textarea {
  text-align: justify;
  resize: none;
  height: 200px;
}

.form-inner h3 {
  text-align: center;
  padding: 3%;
  margin-bottom: 5%;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: #1f233e;
}

@media screen and (max-width: 1024px) {
  .cert-box {
    width: 70%;
    display: grid;
    grid-gap: 3vw;
    margin-bottom: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .money_man {
    left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .cert-box {
    width: 90%;
    display: grid;
    grid-gap: 3vw;
    margin-bottom: 15%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .video__block {
    margin: 3% 0 15%;
  }
  .video__block_content {
    width: 95%;
    height: 400px;
  }
  .video__block_content iframe {
    width: 100%;
    height: 100%;
    border-radius: 1.5%;
  }
  .contacts-section__content {
    padding: 0px;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .content__left {
    width: 100%;
  }
  .content__contact-right {
    position: relative;
    width: 100%;
    margin-top: 5%;
  }
  .content__left__text {
    width: 100%;
  }
  .contacts__map {
    width: 100%;
    min-height: 100%;
    margin-left: 0%;
    margin-top: 1px;
  }
  .place-block {
    top: 300px;
    width: 200px;
    padding: 15px;
  }
  .third_section {
    margin-top: 0%;
  }
  .section__wrapper {
    width: 90%;
  }
  .wrapper__text {
    width: 97%;
    margin: 0 0 4%;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto';
  }
  .one-cert img {
    width: 98%;
  }
  .copy_url {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }
  .certificate_url {
    display: block;
    margin-bottom: 5%;
    max-width: 98%;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    word-wrap: break-word;
  }
  .certs-wrapper {
    width: 95%;
    margin-bottom: 10%;
  }
  .certs__wrapper_url {
    width: 95%;
    margin-top: 25%;
  }
  .certs__wrapper_url .section__title {
    font-size: 30px;
    font-weight: 500;
  }
  .certs__wrapper_url .section__title span {
    font-size: 29px;
    font-weight: 900;
  }
  .certificates {
    width: 95%;
    margin-bottom: 11%;
  }
  .certificates img {
    width: 100%;
    margin: 6% auto;
  }
  .money_man {
    position: absolute;
    bottom: 12px;
    height: 30%;
    left: 0px;
  }
  .one-cert_pay {
    width: 100%;
  }
  .password_reset {
    margin-top: 20%;
  }
  .paid_cert {
    margin: 35% 0 3%;
  }
  .funds {
    width: 100%;
    border-radius: 5px;
    padding: 0px, 20px;
    height: 100%;
    margin: 0;
  }
  .paymen_history {
    width: 100%;
    margin: 1% 0 25% 0;
  }
  .profile_block {
    width: 100%;
    padding: 0;
    margin: 10% 0 0;
    border: none;
    border-radius: 0px;
  }
  .wrapper__profile {
    width: 100%;
    margin-bottom: 20%;
  }
  .input__data {
    width: 98%;
    margin: 5% 0 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prof_table tr {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 8%;
  }
  .prof_table td {
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 550;
    text-align: center;
    color: whitesmoke;
  }
  .prof_table td:nth-of-type(1) {
    min-width: 100%;
  }
  .prof_table td:nth-of-type(1) input {
    min-width: 100%;
    text-align: center;
    color: #202020;
  }
  .prof_table td:nth-of-type(2) {
    min-width: 100%;
  }
  .prof_table td:nth-of-type(2) input {
    min-width: 100%;
    text-align: center;
  }
  input {
    padding: 0;
  }
  .prof_table input {
    /* width: 100%; */
    font-size: 22px;
  }
  .about_project {
    margin-top: 10%;
  }
  .content__button-block {
    margin-left: 0px;
  }
  .money_cert {
    padding-top: 10%;
  }
  .contact_form {
    margin-top: 10%;
    margin-bottom: 25%;
    width: 100%;
  }
  .form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .form-inner h3 {
    margin-bottom: 10%;
    font-size: 35px;
  }
  .form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #2C2C2C;
  }
  .form-inner textarea {
    height: 150px;
  }
  .decor {
    border-radius: 0px;
  }

  .block-items {
    max-width: 850px;
    min-width: 99vw;
    height: 100%;
    padding: 0px;
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;
  }
  .section__title__withdrow {
    font-family: 'Roboto';
    font-size: 40px;
    color: #22263a;
  }

  .wrapper__certs-text {
    font-family: 'Roboto';
    width: 100%;
    max-width: 1100px;
    margin: 1% 0 0 0;
    color: #22263a;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .wrapper__certs {
    width: 95%;
    margin-bottom: 13%;
  }

  .manual_section__content {
    width: 98%;
    margin: 8% 0 20%;
  }
  .manual__title {
    width: 98%;
  }
  .manual__desc {
    width: 97%;
    margin: 7% auto;
    font-size: 16px;
  }
  .manual__video {
    width: 97%;
    height: 200px;
    margin-bottom: 20%;
  }

  .withdrawal_form__content {
    flex-direction: column;
  }
  .deposit__text {
    font-size: 22px;
  }
  .withdrawal_form__block {
    margin-top: 2px;
  }
  .withdrawal_form__block select {
    text-align: center;
    width: 200px;
  }
}