<!DOCTYPE html>
{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} : Регистрация
{% endblock title%}

{% block content %}

<div class="main">
    <div class="profile-data-register">
        <div style="position: absolute; top: 40%; left: 20%;">
            <div class="register" style="color: #5f5b56;">

                <h1>{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>
                    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}