<!DOCTYPE html>
{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} : Регистрация
{% endblock title%}

{% block content %}
<div class="main">
    <div class="profile-data-register">
        <div style="position: absolute; top: 40%; left: 16%;">
            <div class="register custom_font">

                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                </p>
                {% else %}
                {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}" />
                </form>
                {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}