{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}


{% block title %}
{{ block.super }} : Вход на сайт
{% endblock title%}

{% block content %}

<div class="password_reset">
    <div class="password_reset__block" style="color: #3d3932;">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <br>
        <p>
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
        <br>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset__form">
            {% csrf_token %}
            <div>{{ form }}</div>
            <input class="reset_btn" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <br><br>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
        </p>
    </div>
</div>

{% endblock content%}