<!DOCTYPE html>
{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}

{% block title %}
{{ block.super }} : Регистрация
{% endblock title%}

{% block content %}

<section class="third-section" style="height: auto;!important;">
  <div class="certs-wrapper">
    <p class="section__title"><span>{% trans 'Регистрация' %}</span></p>
    <p class="wrapper__text">Введите данные для регистрации.</p>
    <form class="signup_form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% include "account/errors.html" %}
      <p>{{ form.first_name }}</p>
      <p>{{ form.last_name }}</p>
      <p>{{ form.email }}</p>
      <p>{{ form.password1 }}</p>
      <p>{{ form.password2 }}</p>
      <br>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="main__nav--item">
        <button class="profile_btn register_btn" style="margin: 0 0 8% 0;" type="submit">
          {% trans "Sign Up" %}
        </button>
      </div>
    </form>
    <div class="register_social">
      <a href="{% provider_login_url 'google' %}">
        <img width="310px" src="{% static 'img/google_long.png' %}" alt="google_long">
      </a>
      <a href="{% provider_login_url 'facebook' %}">
        <img width="310px" src="{% static 'img/fb_long.png' %}" alt="fb_long">
      </a>
    </div>
  </div>
</section>


{%endblock content%}