<div class="funds">
  <p class="section__title__withdrow">
      <span>{% trans 'Пополнить счет' %}</span>
  </p>

  <div class="deposit__text">Сумма пополнения &emsp;&emsp;Валюта</div>

  <form class="withdrawal_form" action="" name="deposit_form" method="POST">
      <div class="deposit_form">
          {% csrf_token %}
          {{ form.amount }} {{ form.valute}}
      </div>
      <button type="submit" class="deposit_button">
          <img src="{%static 'img/qiwi.svg'%}" alt="deposit_button">
          <img src="{%static 'img/visa.svg'%}" alt="deposit_button">
      </button>
  </form>
  {% if form.errors %}
  <ul class="form_errors">
      {% for field in form %}
      {% for error in field.errors %}
      <li>
          {% if field != '__all__' %}
          <strong>{{ field.label }}:</strong>
          {% endif %}
          {{ error }}
      </li>
      {% endfor %}
      {% endfor %}
  </ul>
  {% endif %}
</div>,



<div class="deposit_form">
    {{ form.amount }} {{ form.valute}}
</div>


<div class="deposit__text">Сумма пополнения &emsp;&emsp;Валюта</div>
